.item-details {
    background-color: #f9f9f9;
}

.item-details .top-area {
    background-color: #fff;
    padding: 30px;
    border: 1px solid #eee;
    border-radius: 4px;
}

.item-details .product-images img {
    width: 100%;
    cursor: pointer;
    border: 1px solid #eee;
    border-radius: 4px;
    overflow: hidden;
    padding: 5px;
}

.item-details .product-images .images {
    display: -ms-grid;
    display: grid;
    Grid-template-columns: repeat(5, 1fr);
    Grid-gap: 1em 1em;
    Margin-top: 1em;
}

@media (max-width: 767px) {
    .item-details .product-images .images {
        Grid-template-columns: repeat(3, 1fr);
    }
}

@-webkit-keyframes fadeIn {
    to {
        Opacity: 1;
    }
}

@keyframes fadeIn {
    to {
        Opacity: 1;
    }
}

.item-details .product-images .fade-in {
    -webkit-animation: fadeIn 0.5s ease-in 1 forwards;
    animation: fadeIn 0.5s ease-in 1 forwards;
}

.item-details .product-info {
    padding-left: 30px;
}